# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secrets - don't commit real configs
application-prod.properties
*.env
pkcs11.cfg   # optional – uncomment if you want to exclude your local pkcs11.cfg
